@import url(./variables/effect.css);
@import url(./variables/gap.css);
@import url(./variables/icon.css);
@import url(./variables/shape.css);
@import url(./variables/stroke.css);
@import url(./variables/theme.css);
@import url(./variables/typography.css);

@import url(./platforms/desktop.css);
@import url(./platforms/tablet.css);
@import url(./platforms/mobile.css);

@import url(./animation.css);

* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html {
    ::-webkit-scrollbar {
        display: none;
    }

    overflow-x: hidden;
}

body {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-material-3-dark-surface);
    transition: 300ms ease-out;
}

main {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}
